@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

html {
}
.root {
  height: 100%;
}

.App {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header h1 {
  margin: 0;
  padding: 16px;
  text-align: center;
  background: #333;
  color: #eee;
}

.search {
  margin: 10px 0;
}

.search-form {
  width: 50vw;
  margin: auto;
  padding: 8px;
  text-align: center;
}

.search-input {
  width: 80%;
  padding: 4px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.search-btn {
  width: 15%;
  padding: 4px;
  background: coral;
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
}

.search-query {
  padding: 16px;
  margin-left: 16px;
}

.content {
  height: 100%;
}

.beer-item {
  border: 2px #333 solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 70%;
  width: 90vw;
  margin: 10px auto;
  border-radius: 10px;
}

.col-1 {
  border-right: 2px rgba(0, 0, 0, 0.5) solid;
  padding: 16px;
}

.col-2 {
  border-right: 2px rgba(0, 0, 0, 0.5) solid;
  padding: 16px;
}

.beer-item ul {
  list-style: none;
}

.beer-item .img-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.beer-item img {
  height: 90%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .search {
    margin: 5px 2%;
  }

  .search-form {
    width: 100%;
  }

  .search-input {
    width: 80%;
  }

  .search-btn {
    width: 15%;
  }

  .beer-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 70%;
    width: 90vw;
    margin: 10px auto;
    border-radius: 10px;
  }

  .col-2 {
    border-right: none;
  }

  .col-3 {
    display: none;
  }
}

.main-footer {
  height: 70px;
  background: #333;
}
